#journey {
    height: 80vh;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 8%;
}

.journey__title {
    font-size: 50px;
}

.journey__info {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.journey__column {
    display: flex;
    justify-content: space-between;
    height: 5vh;
}

.journey__column--right {
    justify-content: center;
    gap: 10%;
}

.journey__item {
    width: 300px;
    text-align: center;
    position: relative;
}

.journey__item:first-child {
    right: 7%;
}

.journey__item:last-child {
    left: 8%;
}

.journey__column--right .journey__item:first-child {
    right: 6%;
}

.journey__column--right .journey__item:last-child {
    left: 6%;
}

.journey__line {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.journey__line::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #f7f7f7;
    width: 80%;
    border-radius: 10px;
    position: absolute;
}

.journey__points {
    width: 96%;
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.journey__circle {
    display: block;
    height: 20px;
    background-color: #ffffff;
    width: 20px;
    border-radius: 10px;
}
