#footer {
    text-align: center;
    padding   : 20px 0;
    
}

.footer__options {
    display        : flex;
    justify-content: center;
    align-items    : center;
    gap            : 5px;
    flex-direction : column;
}

.info__option {
    font-weight    : 400;
    font-size      : var(--fontSizeSubTitle-M);
    display        : flex;
    justify-content: center;
    align-items    : center;

}

@media screen and (min-width: 1200px) {
    #footer {
        padding: var(--paddingDesktopLateral);
        height: 5vh;
    }

    .footer__options {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        gap            : 5px;
        flex-direction : row;
    }
}