#projects {
    padding      : var(--paddingMobileLateral);
    margin-bottom: 40px;
}

.projects__title {
    font-size     : var(--fontSizeTitleSecction-M);
    text-transform: uppercase;
    font-weight   : 600;
}

.projects__select {
    background-color: transparent;
    border          : none;
    font-size       : 13px;
    outline         : none;
    position        : relative;
    left            : -4px;
    font-weight     : 200;
    margin-bottom   : 20px;
}

option {
    background-color: var(--bg-Colore-Btn2);
    color           : var(--mainColor);
    font-size       : 12px;
    border          : none;
    border-radius   : 0;
}

.projects__list {
    display: none;
}


.projects__image-active {
    justify-content: center;
    width          : 100%;
    max-width      : 500px;
    border-radius  : 10px;
}

.projects__image a {
    text-decoration: none;
}



.projects__technologies,
.projects__date {
    display        : flex;
    flex-direction : column;
    gap            : 10px;
    justify-content: center;
}

.projects__technologies h3,
.projects__date h3 {
    font-weight: 400;
    font-size  : var(--fontSizeParagraph-M);
}

.projects__technologies p,
.projects__date p {
    font-size  : 12px;
    font-weight: 200;
}


.projects__tech-buttons {
    display  : flex;
    width    : 100%;
    flex-wrap: wrap;
    gap      : 8px 20px;
}

.projects__info {
    display       : flex;
    flex-direction: column;
    gap           : 10px;
}


@media screen and (min-width: 1200px) {
    #projects {
        padding: var(--paddingDesktopLateral);
    }

    .projects__content {
        display        : flex;
        width          : 100%;
        justify-content: space-between;
    }

    .projects__title {
        font-size    : var(--fontSizeTitleSecction-D);
        margin-bottom: 48px;
    }

    .projects__select {
        display: none;
    }

    .projects__list {
        display   : block;
        position  : relative;
        left      : 2px;
        list-style: none;
        cursor    : pointer;
    }

    .projects__list li {
        font-size    : var(--fontSizeBtn-D);
        color        : var(--mainColor);
        margin-bottom: 12px;
        transition   : all 0.5s ease;
    }

    .projects__list svg {
        margin-right: 8px;
        transition  : all 0.5s ease;
    }

    .projects__list .inactivo svg {
        transform: rotate(-45deg);
    }

    .projects__list .inactivo {
        font-weight: 300;
        color      : #c8c8c8;
    }

    .projects__list .activo {
        font-weight: 600;
        position   : relative;
        left       : 15px;
    }

    .projects__image-active {
        width        : 100%;
        max-width    : 972px;
        border-radius: 10px;
    }

    .projects__technologies,
    .projects__date {
        display       : flex;
        gap           : 10px;
        align-items   : center;
        flex-direction: row;
        padding       : 15px;
    }

    .projects__tech-buttons {
        display: flex;
        gap    : 20px;
    }

    .projects__image {
        position: relative;
    }

    .projects__description {
        position: absolute;
        bottom  : 30%;
        left    : 15%;
    }

    .projects__info {
        display: flex;
    }

    .projects__technologies,
    .projects__date {
        display       : flex;
        flex-direction: row;
        gap           : 10px;
        padding       : 15px;
    }

    .projects__technologies h3,
    .projects__date h3 {
        font-weight: 400;
        font-size  : var(--fontSizeParagraph-M);
    }

    .projects__technologies p,
    .projects__date p {
        font-size  : var(--fontSizeBtn-D);
        font-weight: 200;
    }

    .projects__info {
        display       : flex;
        flex-direction: row;
        gap           : 10px;
    }

}